.header {
  font-family: "Arial";
  position: relative;
  top: 0;
  width: 100%;
  padding: 20px 10%;
  background: white;
  display: flex;
  justify-content: right;
  align-items: right;
  z-index: 100;
  float:right;
}


.logo {

  font-size: 32px;
  color: #160101;
  font-weight: 100;
  transform: translateX(-1075px);
}


.navbar a{

  
  text-decoration: none;
  position: relative;
  font-size: 24px;
  color: rgb(0, 0, 0);
  font-weight: 300;
  margin-left: 80px;
 
  font: optional;

}

.b {
  position: relative;
  font-size: 18px;
  color: white;
  background-color: black;
  font-weight: 500;
  margin-left: 40px;
  font: optional;
  border-radius: 5px;
}
