.header {
  position: relative;
  top: 0;
  width: 100%;
  padding: 20px 10%;
  background: white;
  display: flex;
  justify-content: right;
  align-items: right;
  z-index: 100;
  float:right;
}

.logo {
  font-size: 32px;
  color: #fff;
  font-weight: 700;
}

.navbar a{
  position: relative;
  font-size: 18px;
  color: black;
  font-weight: 500;
  margin-left: 40px;
  font: optional;
}

.b {
  position: relative;
  font-size: 18px;
  color: white;
  background-color: black;
  font-weight: 500;
  margin-left: 40px;
  font: optional;
  border-radius: 5px;
}
