.page-header2{

    font-family: "Arial";
    font-size: 50px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
    padding-top: 15%;
    padding-bottom: 10%;
  }
  
  .titles2
  {
   text-align: center;
   padding-top: 5%;
   padding-bottom: 1%;
  }
  
  .body-color2{
    
  
    background-color:  rgb(29, 29, 29);
    padding-bottom: 5%;
  
   
   
  }
  .information2
  {
    font-size: 20px;
    font-family: "Arial";
    color: rgb(255, 255, 255);
    text-align: justify;
    
    margin: 25px;
  }
  